p {
  font-size: 20px;
}

h1 {
  color: #2a80dc;
}

.upper {
  background-color: white;
}

.middle {
  /* position: relative;
  left : 500px; */
  font-size: 1.125rem;
}

.contains-middle {
  width: 800px;
  margin-left: 500px;
  border-radius: 25px;
  padding: 20px;
  background-color: #e4ebf0;
}

.dropbtn {
  background-color: #c9cfd4;
  color: #2882fc;
  padding: 10px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.dropdown {
  /* position: relative; */
  display: inline-block;
  /* left : 1000px;
  margin-bottom: 30px; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #154c79;
}

.top-line {
  display: inline-block;
}

.another {}

.arrow {
  border: solid #2882fc;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
  left: 5px
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#time {
  margin-top: 0;
  margin-bottom: 10px;
}

#hour {
  margin-top: 0;
}

#hours2 {
  position: relative;
  left: 20px;
}

#log {
  color: #2a80dc;
  position: relative;
  left: 1200px;
}

.outside-time {}

.container {
  margin-left: 1000px;
  margin-bottom: 17px;
  width: 340px;
  background-color: #c9cfd4
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.clock-in {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 12px;
  width: 500px;
  position: relative;
  left: 150px;
}

.body-arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
  left: 5px
}

.body-arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.body-arrow-color {
  color: black;
  background-color: #f8f9fa;
}

.body_switch {
  position: relative;
  left: 115px;
}
/* come back after dropdown boxes are same size */
.body_switch_dropdown {
  position: absolute;
  left : 643px;
}

.body_switch_dropdown2 {
  position: absolute;
  left : 908px;
}

.body_switch_2 {
  position: relative;
  left : 260px;
}

.body_switch_size {
width : 200;
}


.date_time_body {
  display: inline;

}

.clock_image {
  display: inline;
  position: relative;
  left: 500px;
  bottom: 50px;
}

#move_to_clock {
  position: relative;
  left: 285px;
}

.switch_to_clock{
  position: relative;
  top : 50px;
  right : 80px;
}

#move_middle {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  background:none;
  border:none;
  font-size: 20px;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-block-start : 0px;
  margin-block-end : 0px;
}

.dropdown-content p:hover {
  background-color: #f1f1f1
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-block-start : 0px;
  margin-block-end : 0px;
}

.dropdown-content button:hover {
  background-color: #f1f1f1
}
